footer{
    padding: 20px 30px;

    .footer-content{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        gap: 2rem;
        //*footer-box
        .footer-box{
            display: flex;
            flex-direction: column;
            h3{
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 15px;
            }
            a{
                color: #979797;
                margin-bottom: 0.8rem;
                @extend .transition;
                &:hover{
                    color: $main-color;
                    transform: translateX(-5px);
                }
            }
        }

        .social {
                display: flex;
            a{
                display: grid;
                place-items: center;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                background-color: #202020;
                color: $text-color;
                font-size: 20px;
                margin-right: 8px;
                @extend .transition;
                &:hover{
                    background-color: $main-color;
                    color: $bg-color;
                }
            }
        }
        
        
    }

      // Copyright
  .copy-right {
    text-align: center;
    color: #979797;
    font-size: 15px;
    padding: 20px;
  }

}