header {
    background: rgba(255, 255, 255, 0.24);
    border-radius: 0 0 16px 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.3px);
    -webkit-backdrop-filter: blur(10.3px);
    border: 1px solid rgba(255, 255, 255, 0.07);
    @extend .flexBox;
    padding: 27px 17px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    // Logo
    .logo {
        font-size: 33px;
        font-weight: 700;
        white-space: nowrap;

        @include laptop {
            font-size: 25px;
        }

        @include tablet {
            font-size: 20px;
        }

        // span
        span {
            color: $main-color;
        }
    }

    // Nav
    .navbar {
        @extend .flexBox;

        @include laptop {
            display: none;
        }

        a {
            font-size: $p-font;
            font-weight: 500;
            margin: 15px 22px;
            text-transform: uppercase;
            display: block;
            @extend .transition;

            @include laptop {
                font-size: 15px;
            }

            &:hover {
                color: $main-color;
                scale: 1.2;
            }
        }
    }

    .navbar.open {
        position: fixed;
        right: 10px;
        top: 120%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background: rgba(255, 255, 255, 0.24);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10.3px);
        -webkit-backdrop-filter: blur(10.3px);
        border: 1px solid rgba(255, 255, 255, 0.07);
        padding: 20px 0;
        border-radius: 16px;
    }

    // Right Area
    .header-right {
        @extend .flexBox;

        a {
            font-size: 20px;
            margin: 0 18px 0 5px;
            @extend .transition;

            @include tablet {
                display: none;
            }

            &:hover {
                color: $main-color;
                transform: translateY(-3px);
            }
        }

        a:first-child {
            font-size: $p-font;
            margin-right: 20px;
        }

        #menu-btn {
            display: none;
            cursor: pointer;

            @include laptop {
                display: block;
            }
        }
    }
}