@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.flexBox, header .header-right, header .navbar, header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.transition, .btn, footer .footer-content .social a, footer .footer-content .footer-box a, #contact-us .contact-us-form button, #top-eductions .top-educations-content .box img, #education .educations-content .education-card h4, #education .educations-content .education-card .education-cart-image img, header .header-right a, header .navbar a {
  transition: all 0.5s ease-in-out;
}

header {
  background: rgba(255, 255, 255, 0.24);
  border-radius: 0 0 16px 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border: 1px solid rgba(255, 255, 255, 0.07);
  padding: 27px 17px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
header .logo {
  font-size: 33px;
  font-weight: 700;
  white-space: nowrap;
}
@media (max-width: 1000px) {
  header .logo {
    font-size: 25px;
  }
}
@media (max-width: 800px) {
  header .logo {
    font-size: 20px;
  }
}
header .logo span {
  color: #ffa343;
}
@media (max-width: 1000px) {
  header .navbar {
    display: none;
  }
}
header .navbar a {
  font-size: 1rem;
  font-weight: 500;
  margin: 15px 22px;
  text-transform: uppercase;
  display: block;
}
@media (max-width: 1000px) {
  header .navbar a {
    font-size: 15px;
  }
}
header .navbar a:hover {
  color: #ffa343;
  scale: 1.2;
}
header .navbar.open {
  position: fixed;
  right: 10px;
  top: 120%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border: 1px solid rgba(255, 255, 255, 0.07);
  padding: 20px 0;
  border-radius: 16px;
}
header .header-right a {
  font-size: 20px;
  margin: 0 18px 0 5px;
}
@media (max-width: 800px) {
  header .header-right a {
    display: none;
  }
}
header .header-right a:hover {
  color: #ffa343;
  transform: translateY(-3px);
}
header .header-right a:first-child {
  font-size: 1rem;
  margin-right: 20px;
}
header .header-right #menu-btn {
  display: none;
  cursor: pointer;
}
@media (max-width: 1000px) {
  header .header-right #menu-btn {
    display: block;
  }
}

#home {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/group.jpeg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
#home .home-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
#home .home-text h5 {
  color: #ffa343;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin: 15px 0;
}
#home .home-text h1 {
  font-size: 6rem;
  font-weight: 800;
  line-height: 1.2;
  margin: 20px 0;
}
@media (max-width: 800px) {
  #home .home-text h1 {
    font-size: 3rem;
  }
}
#home .home-text p {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6705882353);
  margin-bottom: 35px;
}

#education .educations-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, auto));
  gap: 3rem;
  text-align: center;
  align-items: center;
}
#education .educations-content .education-card {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#education .educations-content .education-card .education-cart-image {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;
}
#education .educations-content .education-card .education-cart-image img {
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}
#education .educations-content .education-card .education-cart-image img:hover {
  scale: 1.2;
}
#education .educations-content .education-card h4 {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
#education .educations-content .education-card h4:hover {
  color: #ffa343;
}

#about-us {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9rem;
}
@media (max-width: 1000px) {
  #about-us {
    flex-direction: column;
  }
}
#about-us .about-us-image {
  flex: 1;
}
#about-us .about-us-image img {
  height: auto;
  width: 100%;
  border-radius: 10px;
}
#about-us .about-us-text {
  flex: 1;
}
#about-us .about-us-text h5 {
  color: #ffa343;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 20px;
}
#about-us .about-us-text h2 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 25px;
}
#about-us .about-us-text p {
  font-size: 1rem;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.6705882353);
  line-height: 30px;
  margin-bottom: 30px;
}

#top-eductions .center-text {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 20px;
}
#top-eductions .top-educations-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 3rem;
}
#top-eductions .top-educations-content .box {
  position: relative;
}
#top-eductions .top-educations-content .box img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  filter: brightness(70%);
}
#top-eductions .top-educations-content .box img:hover {
  scale: 1.2;
}
#top-eductions .top-educations-content .box .box-bottom {
  position: absolute;
  bottom: 40px;
  left: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#top-eductions .top-educations-content .box .box-bottom h3 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}
#top-eductions .top-educations-content .box .box-bottom h3 i {
  color: #ffa343;
}
#top-eductions .btn-wrapper {
  margin-top: 4rem;
  text-align: center;
}

#contact-us {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 90%;
}
@media (max-width: 1000px) {
  #contact-us {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}
#contact-us .contact-us-image {
  flex: 1;
  padding: 30px;
}
#contact-us .contact-us-image img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
#contact-us .contact-us-form {
  flex: 1;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1000px) {
  #contact-us .contact-us-form {
    width: 100%;
  }
}
#contact-us .contact-us-form label {
  margin-bottom: 6px;
}
#contact-us .contact-us-form input,
#contact-us .contact-us-form button {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#contact-us .contact-us-form button {
  background-color: #ffa343;
  border: 1px solid transparent;
  cursor: pointer;
}
#contact-us .contact-us-form button:hover {
  background-color: #a48032;
}

footer {
  padding: 20px 30px;
}
footer .footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 2rem;
}
footer .footer-content .footer-box {
  display: flex;
  flex-direction: column;
}
footer .footer-content .footer-box h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
footer .footer-content .footer-box a {
  color: #979797;
  margin-bottom: 0.8rem;
}
footer .footer-content .footer-box a:hover {
  color: #ffa343;
  transform: translateX(-5px);
}
footer .footer-content .social {
  display: flex;
}
footer .footer-content .social a {
  display: grid;
  place-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #202020;
  color: #ffffff;
  font-size: 20px;
  margin-right: 8px;
}
footer .footer-content .social a:hover {
  background-color: #ffa343;
  color: #000000;
}
footer .copy-right {
  text-align: center;
  color: #979797;
  font-size: 15px;
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  background: #000000;
  font-family: "Open Sans", serif;
  color: #ffffff;
}

a {
  color: #ffffff;
}

.btn {
  padding: 13px 40px;
  display: inline-block;
  background-color: #ffa343;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid transparent;
  cursor: pointer;
}
.btn:hover {
  border: 2px solid white;
  background-color: transparent;
  color: #ffffff;
  transform: translateX(10px);
}

section {
  padding: 70px 17% 60px;
}/*# sourceMappingURL=style.css.map */